#parse("/velocity/layout.vm")
#@mainLayout()
<form id="loginForm" method="post">
  #if($addFailed)
    <p class="bad notification">Add failed</p>
  #elseif($addSucceeded)
    <p class="good notification">Add success $currentUser</p>
  #elseif($loggedOut)
    <p class="notification">Add User</p>
  #end
  <input class="form-control" type="text" placeholder="Email" name="email" required>
  <input class="form-control" type="text" placeholder="Password" name="password" required>
  <input class="form-control" type="text" placeholder="Role" name="role" required>
  <button type="submit" class="btn btn-primary">Add</button>
</form>
#end
