#parse("/velocity/layout.vm")
#@mainLayout()
  #parse("/velocity/course/courseScripts.vm")
<h4>$msg.get("COURSES_HEADING_ALL")</h4>
<br/>
<a href='#' onclick="addcourse()" class="btn btn-info"> <i class="glyphicon glyphicon-plus"></i> Add
  Course </a>
<div class="col-md-15">
  <br>
  <div id="message"></div>

  <table id="datatable" class=" table table-hover" style="width:100%">
    <thead>
    <tr>
      <th class="td">ID</th>
      <th class="td">Course Name</th>
      <th class="td">Course Code</th>
      <th class="td">Course PreNo</th>
      <th class="td">Course Level</th>
      <th class="td"> --</th>
    </tr>
    </thead>
    <tbody>
      #foreach($course in $courses)
      <tr>
        <td class="td"> $course.getId()</td>
        <td class="td">
          $course.getName()
        </td>
        <td class="td"> $course.getCode()</td>
        <td class="td"> $course.getPreNo()</td>
        <td class="td"> $course.getLevel()</td>
        <td class="td">
          <a href="#" onclick="getcourse($course.getId())">
            <i class="glyphicon glyphicon-edit"></i> </a>

          <a href="#" onclick="deletecourse($course.getId())">
            <i class="glyphicon glyphicon-remove"></i> </a>
        </td>

      </tr>
      #end
    </tbody>
  </table>


  </body>

  </html>

#end
