#parse("/velocity/layout.vm")
#@mainLayout()
<form id="loginForm" method="post">
    #if($addFailed)
        <p class="bad notification">$msg.get("ENTRY_ADD_FAILED")</p>
    #elseif($addSucceeded)
        <p class="good notification">$msg.get("ENTRY_ADD_SUCCEEDED", $currentUser)</p>
    #elseif($loggedOut)
        <p class="notification">$msg.get("ENTRY_ADD_HEADING")</p>
    #end
    <h1>$msg.get("ENTRY_ADD_HEADING")</h1>


    <label>$msg.get("ENTRY_ADD_NAME")</label>
    <input type="text" name="name" placeholder="$msg.get("ENTRY_ADD_NAME")" value="" required>



    #if($loginRedirect)
        <input type="hidden" name="loginRedirect" value="$loginRedirect">
    #end
    <input type="submit" value="$msg.get("ENTRY_ADD_BUTTON")">
</form>
#end
