#parse("/velocity/layout.vm")
#@mainLayout()
  #parse("/velocity/entry/entryScripts.vm")
<h4>$msg.get("ENTRY_ALL")</h4>
<br/>
<a href='#' onclick="addentry()" class="btn btn-info"> <i class="glyphicon glyphicon-plus"></i> Add
  Entry </a>
<div class="col-md-15">
  <br>
  <div id="message"></div>

  <table id="datatable" class=" table table-hover" style="width:100%">
    <thead>
    <tr>
      <th class="td">ID</th>
      <th class="td">Entry Name</th>
      <th class="td">Entry startdate</th>
      <th class="td"> --</th>
    </tr>
    </thead>
    <tbody>
      #foreach($entry in $entries)
      <tr>
        <td class="td"> $entry.getId()</td>
        <td class="td">
          $entry.getName()
        </td>
        <td class="td"> $entry.getStartDate()</td>
        <td class="td">
          <a href="#" onclick="getentry($entry.getId())">
            <i class="glyphicon glyphicon-edit"></i> </a>

          <a href="#" onclick="deleteentry($entry.getId())">
            <i class="glyphicon glyphicon-remove"></i> </a>
        </td>

      </tr>
      #end
    </tbody>
  </table>
</div>

  </body>

  </html>

#end
